# CCS build folders
Debug/
Release/

# Generated build files
*.d
*.obj
*.pp
*.out
*.map
*.hex
*.bin

# CCS workspace/settings
.metadata/
.settings/

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
